<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <nlog autoReload="true">

    <targets async="true">

      <target type="Console" name="n">
        <layout type="JsonLayout" SuppressSpaces="false">
          <attribute name="process_name" layout="${processname}" />
          <attribute name="short_message" layout="${message}" />
        </layout>
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="n"/>
    </rules>
  </nlog>

</configuration>