@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Unity integration example</h1>
    <p>Learn about <a href="https://github.com/unitycontainer/microsoft-dependency-injection">building Web apps with Unity container</a>.</p>
</div>
